
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    
}
@font-face {
    font-family: 'TTLakes-Bold';
    src: url('./fonts/TTLakes-Bold.ttf') format(TrueTape Font);
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'TTLakes-MEdium';
    src: url('./fonts/TTLakes-Medium.ttf') format(TrueTape Font);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'TTLakes-Regular';
    src: url('./fonts/TTLakes-Regular.ttf') format(TrueTape Font);
    font-weight: 400;
    font-style: normal;
}
body {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    width: 100%;
    height: auto;
    border: 2px solid brown
}
/*Навигационое меню*/

.nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    border: 2px solid blue;

}
/*Заголовок*/

.h1 {
    
    border: 2px solid black;
    width: 100%;
    height: auto;
    border-left-width: 7px;
    border-left-color: aqua;
   

}
/*Перегородка в навигации*/

.divider {
    width: 2px;
    height: 32px;
    border-radius: 25px;
    border: 2px solid #EAEAEA;
}


img {
    width: 40px;
    height: 40px
}

.menu {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    height: auto;
    border: 2px solid black;
    
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border: 2px solid black;
}
/*Основной текст*/

.main--title {
    font-family: 'TTLakes-Regular';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    max-width: 1200px;
    display: flex;
    
}

/*Основная картинка*/

.main--img {
    width: 100%;
    height: auto;
    border: 2px solid black;

}
/*Чекбокс далее стрелки*/

.check-box-icon {
    border: 1px solid black;
    width: 15px;
    height: 15px;
}
.footer {
    width: 132px;
    height: 24px;
    margin-left: 16px;
    border: 2px solid black;
}
.footer--icon {
    width: 15px;
    height: 15px;

}


