
* {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0;
    padding: 0;

    
}
@font-face {
    font-family: 'TTLakes';
    src: url('./fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'TTLakes';
    src: url('./fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'TTLakes';
    src: url('./fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
body {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    width: 100%;
    height: auto;
    background-color: #F8F8F8;
}
/*Навигационое меню*/

.nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    white-space: nowrap;
    font-family: 'TTLakes';
    font-weight: 500;
    font-style: normal;

}
.navigation--profile{
display: flex;
align-items: center;
white-space: nowrap;
flex-direction: row-reverse;
font-family: 'TTLakes';
font-weight: 500;
font-style: normal;
margin: 7px;

}

.navigation--repair{
    display: flex;
    align-items: center;
    white-space: nowrap;
    flex-direction: row-reverse;
    font-family: 'TTLakes';
    font-weight: 500;
    font-style: normal;
    margin: 7px;
}
/*Картинка в навигации*/

.navigation--img {
    display: flex;
    justify-content: center;
    width: 70px;
    height: 40px;

  
}
/*Блок заголовка*/

.h1 {
    
    width: 100%;
    height: auto;
    border-left-width: 7px;
    border-left-color: aqua;
   

}
/*Текст заголовка*/
h1 {
    font-family: 'TTLakes';
    font-weight: 700;
    font-style:normal;
    border-left: 10px solid #41F6D7;
}
/*Перегородка в навигации между иконками*/

.divider {
    width: 2px;
    height: 32px;
    border-radius: 25px;
    border: 2px solid #EAEAEA;
}

.divider-2 {
    width: 2px;
    height: 32px;
    border-radius: 25px;
    border: 2px solid #EAEAEA;
}
/*Размеры иконок*/

img {
    width: 40px;
    height: 40px
}

/*Весь текст в меню*/

.menu--title {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'TTLakes';
    font-weight: 500;
    font-style: normal;
}
/*Текст 1 в блоке меню */

.menu--title--1{
    display: flex;
    justify-content: center;
    min-width: 246px;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #B8FFEC;
    white-space: nowrap;
    align-items: center;
    font-family: 'TTLakes';
    font-weight: 500;
    font-style: normal;
    background-color: #FFFFFF;
}
/*Основной блок меню*/
.menu {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    height: auto;

    
}

/*Основной блок с текстом икартинкой*/

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;

}
/*Основной текст*/

.main--title {
    max-width: 100%;
    height: auto;
    display: flex;
    padding: 20px;
    font-family: 'TTLakes';
    font-weight: 400;
    font-style:normal;
   
}

/*Основная картинка*/

.main--img {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 10px;
}
/*Чекбокс далее стрелки*/

.check-box-icon {
    width: 10px;
    height: 10px;
    margin-left: 50px;
  
}
/*Текст от чек бокса*/
i {
    font-family: 'TTLakes';
    font-weight: 500;
    font-style: normal;
}
/*Блок с одоптацией дисплеев*/

@media (min-width: 910px) {
    .main-content {
        flex-direction: row; 
        position: relative;
}
 .main--img {
    
  width: auto;

}
.main--title{
  width: auto;
  display: flex;
  align-items:start;
  overflow: hidden;
 
}
 .check-box{
    position: absolute;
    white-space: nowrap;
    width: auto;
    height: 25px;
    top: 250px;

 }
}
@media (max-width: 700px) {
    .navigation--calln, .navigation--chat, .navigation--status {
        display: none;
    }
    .navigation--profile--text, .navigation--repair--text {
        display: none;
    }

    .navigation--profile {
        position: relative;
        left: 20px;
    }
       .navigation--repair {
        position: relative;
        left: 7px

       }
       .divider {
        position: relative;
        left: 60px;
       }
.navigation--img {
    position: relative;
    left: 30px;
    width: 90px;
    height: 55px;
}
.divider-2{
    display: none;
}    
.menu--title{
    min-width: 246px;
}
}
