
* {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0;
    padding: 0;

    
}
@font-face {
    font-family: 'TTLakes';
    src: url('./fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'TTLakes';
    src: url('./fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'TTLakes';
    src: url('./fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
body {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    width: 100%;
    height: auto;
    background-color: #F8F8F8;
}
/*Навигационое меню*/

.nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    /*
    white-space: nowrap;
    overflow: hidden;
    font-family: 'TTLakes';
    font-weight: 500;
    font-style: normal;
*/
}
.navigation--profile{
display: flex;
align-items: center;
white-space: nowrap;
overflow: hidden;
font-family: 'TTLakes';
font-weight: 500;
font-style: normal;
margin: 7px;

}

.navigation--repair{
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'TTLakes';
    font-weight: 500;
    font-style: normal;
    margin: 7px;
}
.navigation--img {
    display: flex;
    justify-content: center;
    width: 70px;
    height: 40px;

  
}
/*Заголовок*/

.h1 {
    
    width: 100%;
    height: auto;
    border-left-width: 7px;
    border-left-color: aqua;
   

}

h1 {
    font-family: 'TTLakes';
    font-weight: 700;
    font-style:normal;
    border-left: 10px solid #41F6D7;
}
/*Перегородка в навигации*/

.divider {
    width: 2px;
    height: 32px;
    border-radius: 25px;
    border: 2px solid #EAEAEA;
}


img {
    width: 40px;
    height: 40px
}
.menu--title {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #B8FFEC;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'TTLakes';
    font-weight: 500;
    font-style: normal;
}

.menu {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    height: auto;

    
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;

}
/*Основной текст*/

.main--title {
    max-width: 100%;
    display: flex;
    padding: 20px;
    font-family: 'TTLakes';
    font-weight: 400;
    font-style:normal;
   
}

/*Основная картинка*/

.main--img {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 10px;
  
    

}
/*Чекбокс далее стрелки*/

.check-box-icon {
    width: 10px;
    height: 10px;
    margin-left: 50px;
  
}
i {
    font-family: 'TTLakes';
    font-weight: 500;
    font-style: normal;
}

