

* {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0;
    padding: 0;   
}

@font-face {
    font-family: 'TTLakes';
    src: url('./fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'TTLakes';
    src: url('./fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'TTLakes';
    src: url('./fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #F8F8F8;
    padding: 0px 20px 0px 20px;
}
/*Навигационое меню*/

.nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    white-space: nowrap;
    font-family: 'TTLakes';
    font-weight: 500;
    font-style: normal;

}
.navigation--profile--text, .navigation--repair--text {
    display: none;
}
.navigation--profile{
display: flex;
align-items: center;
white-space: nowrap;
flex-direction: row-reverse;
font-family: 'TTLakes';
font-weight: 500;
font-style: normal;


}

.navigation--repair{
    display: flex;
    align-items: center;
    white-space: nowrap;
    flex-direction: row-reverse;
    font-family: 'TTLakes';
    font-weight: 500;
    font-style: normal;
   
}
/*Картинка в навигации*/

.navigation--img {
    display: flex;
    justify-content: center;
    width: 70px;
    height: 40px;

  
}
/*Блок заголовка*/

.left--border--icons {
    width: 4px;
    height: 40px;
    position: relative;

}

.h1 {
    display: flex;
    width: 100%;
    height: auto;

}
/*Текст заголовка*/
h1 {
    font-family: 'TTLakes';
    font-weight: 700;
    font-style:normal;
   
}
/*Перегородка в навигации между иконками*/

.divider {
    width: 2px;
    height: 32px;
    border-radius: 25px;
    border: 2px solid #EAEAEA;
}

.divider-2 {
    width: 2px;
    height: 32px;
    border-radius: 25px;
    border: 2px solid #EAEAEA;
}
/*Размеры иконок*/

img {
    width: 40px;
    height: 40px
}

/*Весь текст в меню*/

.menu--title {
    display: flex;
   gap: 5px;
    border-radius: 10px;
    white-space: nowrap;
    font-family: 'TTLakes';
    font-weight: 500;
    font-style: normal;
}
/*Текст 1 в блоке меню */

.menu--title--1{
    display: flex;
    justify-content: center;
    min-width: 246px;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #B8FFEC;
    white-space: nowrap;
    align-items: center;
    font-family: 'TTLakes';
    font-weight: 500;
    font-style: normal;
    background-color: #FFFFFF;
}
/*Основной блок меню*/
.menu {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    height: auto;

    
}

/*Основной блок с текстом икартинкой*/

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;

}
/*Основной текст*/

.main--title {
    max-width: 100%;
    height: auto;
    font-family: 'TTLakes';
    font-weight: 400;
    font-style:normal;
   
}

/*Основная картинка*/

.main--img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}
/*Чекбокс далее стрелки*/

.check-box-icon {
    width: 10px;
    height: 10px;
    margin-left: 50px;
  
}
/*Текст от чек бокса*/
i {
    font-family: 'TTLakes';
    font-weight: 500;
    font-style: normal;
}


/*Экран для планшетав*/


@media (min-width: 769px) {
    body {
        
        display: flex;
        width: 100%;
        height: auto;
    }
      
   .navigation--calln {
    margin-left: 400px;
   }
   .main-content {
    position: relative;
    flex-direction: row;
   }
   .main--title{
    max-width: 50%;
    height: 200px;
    overflow: hidden;
   }
   .check-box {
    position: absolute;
    width: 150px;
    height: 30px;
    white-space: nowrap;
    top: 230px;
   }
   .main--img {
    max-width: 50%;
   }
   .left--border--icons{
    position: absolute;
    left: 0;
    
    
   }
}


/*РАЗМЕР ДЛЯ ЭКРАНА ДЛЯ ТЕЛЕФОНА*/

@media (min-width: 320px) and (max-width: 768px) {
    .navigation--calln, .navigation--chat, .navigation--status {
        display: none;
    }
    .navigation--profile--text, .navigation--repair--text, .divider-2 {
        display: none;
    }
    .main--title{
    height: 110px;
    overflow: hidden;
   }
}
